.nav {
	border: solid;

	/* the following two will equidistant items inside div with classname = nav */
	display: flex;
	justify-content: space-between;

	width: 100%;
	background-color: cornflowerblue;
}

.nav-tab {
	margin: 20px;
	padding: 10px;
	border: solid;
	background-color: lightseagreen;
}
