.form {
	border: solid;
	width: 100%;

	margin: 50px auto;
	height: 500px;
}
.input {
	width: 50%;
	margin: 0 auto;
}
.preprocessors {
	/* background-color: cornflowerblue; */
	display: table;
	justify-content: space-between;
	height: 30px;
	margin: 0 auto;
	width: 100%;
	/* padding: 10px; */
}
.preprocessor_headings {
	width: 100%;
	padding: 10px;
}
th {
	border: solid;
}

.preprocessor_args {
	/* margin: 10px; */
	width: 50%;
	margin: 20px auto;
	height: 300px;
	border: solid;
	text-align: center;
}

.array {
	width: 50%;
	margin: 20px auto;
	height: 100px;

	border: solid;
	text-align: center;
}

.argsForm {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
